---

---
<footer class="w-full text-center text-gray-500 text-sm my-4">
    <p>
        Tómbola de la suerte -
        <a
        class="text-secondary hover:text-primary hover:underline"
        href="https://github.com/felipejoq/tombola-de-la-suerte"
        target="_blank"
        >
            Repositorio
        </a>
    </p>
</footer>
