---
import { AlertCircle } from "lucide-react";
import MainLayouts from "../layouts/MainLayouts.astro";
import '../styles/global.css';
---

<MainLayouts>
    <article
    class="card max-w-2xl mx-auto pb-6 border-1 border-gray-300 rounded-lg shadow-md bg-white overflow-hidden"
>
    <div
        class="card-header py-7 px-5 bg-purple-300 rounded-t text-white bg-gradient-to-r from-primary to-secondary"
    >
        <h1 class="text-4xl flex flex-row items-center gap-2">
            <AlertCircle size="32" />
            404 - Error
        </h1>
    </div>
    <div class="card-body px-8 py-8 flex flex-col gap-4 text-center">
        <p>Esta página no existe.</p>
        <a href="/">Volver al inicio</a>
    </div>
    </article>

</MainLayouts>
