---
import { ListRestart, Shuffle, Trash2 } from "lucide-react"
import { CountPlayers } from "./core/CountPlayers"
import { FormInputPlayers } from "./core/FormInputPlayers"
import { PlayersList } from "./core/PlayersList"
---

<div class="card-body px-8 py-8 flex flex-col gap-4">
	<FormInputPlayers client:load />
	<div class="flex flex-col gap-2 text-xl">
		<h2 class="font-bold mb-3">
			Jugadores (<CountPlayers client:only="react"><span slot="fallback">?</span></CountPlayers>):
		</h2>
		<PlayersList client:only="react">
			<span slot="fallback">Cargando datos...</span>
		</PlayersList>
	</div>
	<div class="text-xl my-4">
		<button class="button-secondary">
			<Shuffle size={24} />
			Obtener un jugador al azar
		</button>
		<div
			class="flex flex-row justify-between items-center gap-5 my-4"
		>
			<button class="button-mutted">
				<ListRestart size={24} />
				Resetear el juego
			</button>
			<button class="button-mutted text-red-600">
				<Trash2 size={24} />
				Borrar la lista
			</button>
		</div>
	</div>
</div>